{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "customSyntax": "postcss-styled-syntax",
  "plugins": [
    "stylelint-order",
    "stylelint-prettier"
  ],
  "rules": {
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": []
      }
    ],
    "color-no-invalid-hex": true,
    "media-query-no-invalid": null,
    "color-function-notation": null,
    "unit-allowed-list": [
      "em",
      "rem",
      "%",
      "px",
      "vw",
      "vh",
      "s",
      "ms",
      "fr",
      "deg"
    ],
    "prettier/prettier": true
  }
}
